doctype html
html
  head
    title= "Arduino Prop Generator"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Arduino Prop Generator
      nav 
        ul
          li 
            a(href="/") Home 
          li 
            a(href="/faq") FAQ
          li 
            a(href="https://www.github.com/laplacier") Github
          li 
            a(href="/about") About
    block content
